.remed-ia-container {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    text-align: center;
    background-image: url(./bgRemedia.png);
}